version: '3.2'

services:
  wiremock-server:
    image: hellgate75/wiremock-server
    container_name: wiremock-server
    volumes:
      - wiremock-mappings:/wiremock/mappings
      - wiremock-files:/wiremock/__files
      - wiremock-certificates:/wiremock/certificates
      - wiremock-zoo-data:/var/local/zookeeper
      - wiremock-zoo-logs:/var/local/zookeeper-logs
      - wiremock-zoo-certs:/var/local/zookeeper-ssl
    ports:
      - 9999:9999
    networks:
      wiremock-network:
        aliases:
          - wiremock-server
    links:
      - "zookeeper-server:zookeeper-master"
    environment:
      - "WIREMOCK_ZOOKEEPER_INTEGRATION_SCRIPT_URL=https://raw.githubusercontent.com/hellgate75/docker-wiremock/master/samples/autoconfig-zookeeper-compose.sh"
    cap_add:
      - ALL
    cap_drop:
      - NET_ADMIN
      - SYS_ADMIN
  zookeeper-server:
    image: hellgate75/zookeeper:3.5.3-beta
    container_name: zookeeper-server
    volumes:
      - zookeeper-data:/var/local/zookeeper
      - zookeeper-logs:/var/local/zookeeper-logs
      - zookeeper-certs:/var/local/zookeeper-ssl
    environment:
      - "ZOOKEEPER_CONFIGURATION_DATA_TARGZ_URL=https://github.com/hellgate75/docker-wiremock/raw/master/samples/zookeeper-sample-config-data.tgz"
    cap_add:
      - ALL
    cap_drop:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      wiremock-network:
        aliases:
          - zookeeper-master
networks:
  wiremock-network:
    #this should be an overlay network of a swarm cluster
volumes:
  wiremock-mappings:
  wiremock-files:
  wiremock-certificates:
  wiremock-zoo-data:
  wiremock-zoo-logs:
  wiremock-zoo-certs:
  zookeeper-data:
  zookeeper-logs:
  zookeeper-certs:
